
  
  <div class="modal" ng-class="{'modal--visible' : isCreateGameVisible}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create New Party</h5>
          <button type="button" class="close" ng-click="closeNewGameModal();">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Choose a name for your party and start a new adventure.</p>
          <div class="form-group">
            <label for="exampleInputEmail1">Party Name:</label>
            <input type="text" class="form-control" ng-model="newGameName">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" ng-click="closeNewGameModal();">Close</button>
          <button type="button" class="btn btn-primary" ng-click="startNewGame();">Start New Game</button>
        </div>
      </div>
    </div>
  </div>
  
  
  <div class="container_12">
    <div class="wrapper">

      
      <div class="grid_12 c-games">

        <div class="book_image"><a href="https://gumroad.com/ganeshagames?fbclid=IwAR3YnhpDU0GOi4C7OgaB3El-Cm6P1qbwQdBBIGdTSGcVavm6R_EoMsucO64" target="_blank">
            <img src="/images/home_img1.jpg" alt="" /></a></div>

        <div class="text">
          Choose one of your previous saved parties, if you dont have any party created yet, just create a new one and start playing.
        </div>

        <h1>Saved Parties</h1>
        <ul class="list-group">
          <a ui-sref="party({partyId: item.id})" ng-repeat="item in gamesData track by item.id">
            <li class="list-group-item">{{item.name}}</li>
          </a>

          <li class="list-group-item" ng-if="gamesData.length == 0">No Parties found, start by creating one.</li>
        </ul>

        <div class="mt_20">
            <button type="button" class="btn btn-secondary btn--full" ng-click="showNewGameModal();">Create New Party</button>
        </div>

        <div class="mt_30 tCenter">
            <button type="button" class="btn btn-secondary btn-sm mt_20" ng-click="getLinkToData();">Get link to party data</button>
            <div class="alert alert-info mt_10" ng-if="dataCopied">
              Party data link copied to clip board, use the link to access your data on another device.
            </div>
            <button type="button" class="btn btn-primary btn-sm mt_10 hidden" ng-if="dataCopied" ng-click="shareData();">Share party on FB</button>
        </div>

        <div class="text mt_20">
          This module is in developmen, ui will change with future versions.<br>
          Beta version 0.0.1
        </div>

      </div>
      

    </div>
  </div>
