
  
  <div class="container_12">
    <div class="wrapper">

      
      <div class="grid_12 c-games">

        <h1>Party Data</h1>
        <div class="text">
          We detected the following party data on the url link, what do you want to do?
        </div>

        <ul class="list-group">
          <a ui-sref="party({partyId: item.id})" ng-repeat="item in linkData track by item.id"><li class="list-group-item">{{item.name}}</li></a>

          <li class="list-group-item" ng-if="linkData.length == 0">No Parties found, start by creating one.</li>
        </ul>

        <div class="mt_20">
            <button type="button" class="btn btn-danger btn--full" ng-click="overwriteData();">Overwrite Data</button>
            <div class="text">
              This will erase your current data on this device e replace it with this party data set.
            </div>
        </div>

        <div class="mt_20">
            <button type="button" class="btn btn-warning btn--full" ng-click="concatenateData();">Add to current data.</button>
            <div class="text">
              This option will merge the 2 data set's, the old data you have and this link data.
            </div>
        </div>

      </div>
      

    </div>
  </div>
